<ion-header>
  <ion-navbar color="header">
    <ion-title>
      Fav Food
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{title}}</h1>
  <h5>My Favorite dish is: {{myFav.name}} </h5>
  <h3>Dishes:</h3>
  <ul>
    <li *ngFor="let dish of dishes">
      <h4>{{dish.name}}</h4>
    </li>
  </ul>
  <p class="over-limit" *ngIf="dishes.length > 3">There are too many dishes!!</p>
</ion-content>
