page-home {
    h1 {
        color: #ff7b00e0;
        text-align: center;
    }

    h5 {
        color: rgb(197, 34, 5);
    }

    .over-limit {
        color: rgb(147, 80, 255);
        text-align: center;
        font-size: 1.2em;
    }
}
